h1 {
  color: black;
}

h3 {
  color: gray;
  text-align: left;
  margin-bottom: 5px;
}

body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
li {
  text-align: left;
  margin-left: 75px;
  margin-right: 75px;
}

.about div, h1, p {
  text-align: center;
}

.seperator-one {
  background-color: green;
  opacity: .8;
  height: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.seperator-two {
  background-color: green;
  opacity: .75;
  height: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.responsibilites {
  color: black;
}

.job-title {
  text-transform: capitalize;
  text-align: right;
}
